extends layout
block layout-content
  div.View.UserView
    h1.Banner #{userProfile.nickname}: Ingresa tu pregunta
    div.Message
      div.Title
        h1 Milton IA Responde
        h2 Derecho Constitucional con Inteligencia Artificial   

      
        div.form-group.row
          form.form-inline
            input.form-control(type='text', placeholder='Escriba su pregunta')
            button.btn.btn-primary(type='submit') Enviar

      div.container
        h3 Ultimas preguntas realizadas
          table.table.table-hover
            tbody
              tr
                th #
                th Usuario 
                th Pregunta
                th Respuesta
              each service, key in questionList
                tr
                  th=key+1
                    td=service.username 
                    td=service.question 
                    td=service.answer 

    div.NavButtons
      a(href="/logout")
        div.NavButton Salir

